h2 {
	font-size: 25px;
	margin: 18px 0 18px 0;
}

h2 a, h2 span, h3 a, h3 span {
	font-size: 14px;
	padding-left: 5px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
}

pre {
	line-height: 110%;
	background-color: white;
	border-radius: 0;
}

.cursor-pointer {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	cursor: pointer;
}

.floaty {
	position: fixed;
	left: 0.1em;
	top: 17em;
}

.navbar-brand>a {
	color: white;
}

.navbar-patchwork {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-patchwork .navbar-nav>li>a {
	color: #999;
}

form {
	padding: 0em;
	margin: 0em;
}

table {
	border-collapse: collapse;
}

img {
	border: 0;
}

input {
	border: thin solid #909090;
}

dl dt {
	margin-top: 0.8em;
}

#footer {
	padding: 1em;
	font-size: small;
	text-align: center;
	color: #909090;
}

#footer a {
	color: #909090;
}

ul.small-pills > li > a {
    padding: 8px 12px;
}

.transparent {
    background-color: transparent;
}

div.well > table {
    margin-bottom: 0px;
}

div.small-panel-heading {
	padding: 5px;
}

/* Yellow flash for updates */
.flash {
	-webkit-animation: target-fade 5s;
	-moz-animation: target-fade 5s;
	animation: target-fade 5s;
}
@-webkit-keyframes target-fade {
	0% { background-color: #ff9; }
	25% { background-color: #ff9; }
	100% { background-color: transparent; }
}
@-moz-keyframes target-fade {
	0% { background-color: #ff9; }
	25% { background-color: #ff9; }
	100% { background-color: transparent; }
}
@keyframes target-fade {
	0% { background-color: #ff9; }
	25% { background-color: #ff9; }
	100% { background-color: transparent; }
}

/* messages */
#messages {
	background: #e0e0f0;
	margin: 0.5em 1em 0.0em 0.5em;
	padding: 0.3em;
}

#messages .message {
	color: green;
}

.filters {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

a.filter-action {
    color: black;
}
a.filter-action:hover {
    text-decoration: none;
}

table.pw-list > thead {
    background-color: white;
}

table > thead > tr > th.tag-header {
    text-align: center;
}

table > tbody > tr > td.tag-A {
    text-align: center;
    background-color: #ffe771;
}

table > tbody > tr > td.tag-F {
    text-align: center;
    background-color: #71e7ff;
}

table > tbody > tr > td.tag-R {
    text-align: center;
    background-color: #c3fd98;
}

table > tbody > tr > td.tag-T {
    text-align: center;
    background-color: #b4cfec;
}

a.colinactive:hover {
	color: red;
}

div.filters {
}

div.patchforms {
	margin-top: 2em;
}

ul.dropdown-menu.table-toolbar {
	white-space: nowrap;
	min-width: 300px;
	padding: 8px 20px;
}

.toolbar {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: transparent;
}

@media screen and (min-width: 768px) {
  .toolbar > .container-fluid > .navbar-collapse {
    margin-left: -30px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 768px) {
  .toolbar > .container-fluid .navbar-form {
    margin: 0;
  }
}

label.disabled {
	color: #ccc;
}

.navbar-default .btn-link {
	color: #428bca;
}

.table-info {
	padding: 6px 12px;
	background-color: transparent;
	color: #777;
	border-color: #ddd;
}

.filter-applied {
	background-color: #eee;
}

.glyphicon-warning-sign, .in-progress-info {
	cursor: pointer;
}

/* completion */

small.completion-details {
    display: block;
    color: #a0a0a0;
}

/* list order manipulation */

table.patchlist tr.draghover {
	background: #e8e8e8 !important;
}

.dragging {
	border: thin solid black;
	background: #e8e8e8 !important;
}

input#reorder-cancel {
	display: none;
	color: #505050;
}

input#reorder-change {
}

/* list pagination */
.paginator {
	text-align: right;
	clear: both;
        margin: 8px 0 20px;
}

.paginator .prev-na,
.paginator .next-na {
	font-weight: normal;
	color: #a0a0a0;
}

.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited {
	font-weight: normal;
}

.paginator .prev, .paginator .prev-na { margin-right:.5em; }
.paginator .next, .paginator .next-na { margin-left:.5em; }

.paginator .page a, .paginator .page a:visited, .paginator .curr {
	font-weight: normal;
        padding: 6px 12px;
}
.paginator .curr {
	background-color: #eee;
        border-radius: 4px;
	color: #999;
	font-weight:normal;
}

.thumbnail {
	min-height: 200px;
}

/* patch view */
table.patchmeta th {
	text-align: left;
}

table.patchmeta tr th, table.patchmeta tr td {
	text-align: left;
	padding: 3px 10px 3px 10px;
	vertical-align: middle;
}

.patchnav {
	padding-left: 1em;
	padding-top: 1em;
}

.comment .meta {
	background: #f0f0f0;
	padding: 0.3em 0.5em;
}

.comment .content {
	border: 0;
}

.patch .content {
	padding: 1em;
}

.quote {
	color: #007f00;
}

span.p_header	{ color: #2e8b57; font-weight: bold; }
span.p_chunk	{ color: #a52a2a; font-weight: bold; }
span.p_context	{ color: #a020f0; }
span.p_add	{ color: #008b8b; }
span.p_del	{ color: #6a5acd; }
span.p_mod	{ color: #0000ff; }

.acked-by {
	color: #2d4566;

}

.nacked-by {
	color: #2d4566;

}

.signed-off-by {
	color: #672d45;
	font-weight: bold;
}

.from {
	font-weight: bold;
}

/* bundles */
table.bundlelist {
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
}

table.bundlelist th {
	padding-left: 2em;
	padding-right: 2em;
	background: #eeeeee;
	border-bottom: thin solid black;
}

table.bundlelist td
{
	padding-left: 2em;
	padding-right: 2em;
}

/* forms that appear for a patch */
div.patchform {
	border: thin solid #080808;
	padding-left: 0.6em;
	padding-right: 0.6em;
	float: left;
	margin: 0.5em 1em;
}

div.patchform h3 {
	margin-top: 0em;
	margin-left: -0.6em;
	margin-right: -0.6em;
	padding: 0.3em 0.3em 0.3em 0.6em;
	background-color: #222;
	color: #999;
	font-size: 100%;
}

div.patchform ul {
	list-style-type: none;
	padding-left: 0.2em;
	margin-top: 0em;
}

/* forms */
table.form {
}

span.help_text {
	font-size: 80%;
}


table.form td {
	padding: 0.6em;
	vertical-align: top;
}

table.form th.headerrow {
	background: #222;
	color: #999;
	font-weight: bold;
	text-align: center;
}

table.form th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-top: 0.6em;
}

table.form td.form-help {
	font-size: smaller;
	padding-bottom: 1em;
	padding-top: 0em;
}

table.form tr td.submitrow {
	border-bottom: 0.2em solid #222;
	color: #333;
	text-align: center;
}

table.registerform, table.passwordform {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
table.loginform {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
}

/* form errors */
.errorlist {
	color: red;
	list-style-type: none;
	padding-left: 0.2em;
	margin: 0em;
}
.error {
	color: red;
}

/* generic table with header columns on the left */
table.horizontal {
	border-collapse: collapse;
	border: thin solid #e8e8e8;
}

table.horizontal th {
	text-align: left;
}

table.horizontal td, table.horizontal th {
	padding: 0.5em 1em;
	border: thin solid #e8e8e8;
}

/* generic table with header row */
table.vertical {
	border-collapse: collapse;
}
table.vertical th {
	background: #222;
	color: #999;
	font-weight: bold;
	text-align: center;
}

table.vertical th, table.vertical td {
	padding: 0.2em 0.8em;
	border: thin solid #e8e8e8;
}

td.numberformat {
	text-align: right;
}

/* boxes */
div.box {
	border: thin solid #080808;
	margin: 1em;
	padding: 0.5em;
}

div.box h2 {
	background: #222;
	color: #999;
	margin: -0.5em -0.5em 1em; -0.5em;
	padding: 0.3em 0.3em 0.3em 0.6em;
	font-size: 100%;
}

div.box table.vertical {
	margin-left: auto;
	margin-right: auto;
}

/* columns */
.leftcol {
	float: left;
	width: 49%;
}

.rightcol {
	float: right;
	width: 49%;
}

/* test resuts */
.result-pending {
	margin: 0px 8px;
	background-color: #777;
}

.result-warning {
	margin: 0px 8px;
	background-color: #f0ad4e;
}

.result-failure {
	margin: 0px 8px;
	background-color: #d9534f;
}

.result-success {
	margin: 0px 8px;
	background-color: #5cb85c;
}

.result-info {
	margin: 0px 8px;
	background-color: #5bc0de;
}

pre.test-result {
        margin: 0px;
	border: 0px;
}

div.disable {
    position:absolute;
    top:     0;
    left:    0;
    width:   100%;
    height:  100%;
    z-index: 2;
    opacity: 0
}
